/*#region Home*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
main {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-height: 100%;
  padding: 2rem;
}
.sectionHeader {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: linear-gradient(to right, #80FFDB, #64DFDF,#6930C3);
  border-radius: 5px;
}
.sectionHeader .boxTitle {
  width: 35%;
  align-self: center;
  padding-right: 2rem;
}
.sectionHeader img {
  position: relative;
  bottom: -15px;
  border-bottom-left-radius: 5px;
}
.sectionBody {
  width: 100%;
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 12px 0;
}
.sectionBody h3 {
  position: relative;
  bottom: -20px;
  background-color: #252525;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 12px;
  text-align: center;
}
.sectionBody h4 {
  width: 100%;
  padding: 2rem;
  border-top: 2px solid #64dfdf;
  text-align: center;
}
.cardContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 1rem;
}
.cardContainer .sectionCard {
  border: 1px solid #64dfdf;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cardContainer .sectionCard:hover {
  box-shadow: 0 0 10px #80FFDB;
  transition: all 0.2s ease-in-out;
}
.sectionCard img {
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid #80FFDB;
  border-radius: 5px;
}
.sectionCard h5 {
  font-size: 1.3rem;
  font-weight: 700;
}
.cardContainer .sectionCard p {
  padding: 1rem;

}
.cardContainer .sectionCard button {
  background-color: #80FFDB;
  border: 1px solid #80FFDB;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 12px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.cardContainer .sectionCard button:hover {
  background-color: transparent;
  border: 1px solid #80FFDB;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.cardContainer .sectionCard a {
  text-decoration: none;
}
.sectionFooter {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 12px 0;
}
.sectionFooter h3 {
  position: relative;
  bottom: -20px;
  background-color: #252525;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 12px;
  text-align: center;
}
.sectionFooter h4 {
  width: 100%;
  padding: 2rem;
  border-top: 2px solid #64dfdf;
  text-align: center;
}
.sectionFooter .trailersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.trailersContainer iframe:hover {
  box-shadow: 0 0 10px #64dfdf;
  transition: all 0.2s ease-in-out;
}
/*#endRegion*/
.navbar {
  background-color:#252525 ; /* Cambia el color de fondo */
  /* background-image: url('ruta/a/imagen.png'); */ /* O utiliza una imagen de fondo */
}
.navbar-brand img {
  width: 100px; /* Ajusta el ancho según tus preferencias */
  margin-right: 300px; /* Agrega margen a la derecha del logotipo */
  margin-left: 50px;
  filter: grayscale(0%); /* Puedes aplicar efectos, como desaturación */
}

/* Cambia el color del logotipo en el hover */
.navbar-brand img:hover {
  filter:grayscale(50%)
  
}
.navbar-nav .nav-link {
  color:#252525; /* Cambia el color de los enlaces de navegación */
  font-size: 16px; /* Ajusta el tamaño de fuente */
  margin: 0 10px; /* Agrega margen horizontal entre los enlaces */
}

/* Cambia el color de los enlaces en el hover */
.navbar-nav .nav-link:hover {
  color:#6930C3; /* Cambia el color al pasar el mouse */
}
/* Cambia el color del texto de los enlaces de navegación en la barra de navegación */
.navbar-nav .nav-link {
  color: #fff; /* Cambia el color del texto a blanco o cualquier otro color legible */
}

@keyframes animated-flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-flashing {
  animation: animated-flashing 1s linear infinite;
}

